In [6]:
import pandas as pd

In [7]:
climate_df = pd.read_csv("dailyclimate.csv")
climate_df['Date'] = pd.to_datetime(climate_df['Date'])
climate_df=climate_df.dropna()
climate_df.head()

,Unnamed: 0,Date,District,Latitude,Longitude,Precip,Pressure,Humidity_2m,RH_2m,Temp_2m,...,TempRange_2m,EarthSkinTemp,WindSpeed_10m,MaxWindSpeed_10m,MinWindSpeed_10m,WindSpeedRange_10m,WindSpeed_50m,MaxWindSpeed_50m,MinWindSpeed_50m,WindSpeedRange_50m
0,0,1981-01-01,Arghakhanchi,27.9,83.2,0.00,93.51,4.81,45.41,13.89,...,10.89,11.32,1.89,3.83,0.69,3.14,2.41,4.12,0.73,3.39
1,1,1981-01-02,Arghakhanchi,27.9,83.2,0.00,93.59,4.94,46.78,13.84,...,11.17,11.44,1.72,2.60,1.09,1.50,2.25,3.30,0.96,2.34
2,2,1981-01-03,Arghakhanchi,27.9,83.2,0.03,93.55,5.22,47.91,14.33,...,9.93,12.24,1.80,2.80,0.48,2.32,2.32,3.54,0.39,3.15
3,3,1981-01-04,Arghakhanchi,27.9,83.2,0.02,93.49,5.36,50.83,13.82,...,10.41,12.17,2.18,3.54,1.06,2.49,2.90,4.05,0.93,3.12
4,4,1981-01-05,Arghakhanchi,27.9,83.2,1.84,93.49,5.84,55.55,13.76,...,10.53,12.32,1.96,2.70,0.69,2.02,2.74,4.64,0.96,3.68

In [ ]:
!pip install dbfread

Collecting dbfread
  Downloading dbfread-2.0.7-py2.py3-none-any.whl.metadata (3.3 kB)
Downloading dbfread-2.0.7-py2.py3-none-any.whl (20 kB)
Installing collected packages: dbfread
Successfully installed dbfread-2.0.7

WARNING: Ignoring invalid distribution ~ip (C:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
from dbfread import DBF
dbf = DBF('raw/flood_data/Flood data of Nepal on Aug 21, 2017/data/np_flood_21_aug.img.vat.dbf')
flood_df = pd.DataFrame(iter(dbf))
print(flood_df.head())

   VALUE    COUNT       CLASS_NAME
0      1  1532495  Inundation Area

In [9]:
pixel_area_m2 = 30 * 30  # 30m x 30m per pixel
total_flood_area_m2 = 1532495 * pixel_area_m2
total_flood_area_km2 = total_flood_area_m2 / 1e6

print(f"Flood Area on Aug 21, 2017: {total_flood_area_km2:.2f} kmÂ²")

Flood Area on Aug 21, 2017: 1379.25 kmÂ²

In [10]:
glacier_data = pd.read_csv("raw/glacier_and_river_data/glaciers-glacial-lakes-and-major-river-basins.csv")
glacier_data.head()

     Basins Hydrological Feature Number Area(sq. km)
0     Koshi             Glaciers    845        1,103
1   Gandaki             Glaciers  1,340        1,665
2   Karnali             Glaciers  1,459        1,023
3  Mahakali             Glaciers    164        112.5
4     Koshi        Glacial Lakes    599           26

In [11]:
rivers_df = pd.read_csv("raw/glacier_and_river_data/major-rivers-in-nepal.csv")
rivers_df.head()

        River  Length(km)              River Attribute  Value
0    Mahakali       223.0  Drainage Area (kmÂ²) - Total  15260
1     Karnali       507.0  Drainage Area (kmÂ²) - Total  44000
2       Babai       190.0  Drainage Area (kmÂ²) - Total   3400
3  West Rapti       257.0  Drainage Area (kmÂ²) - Total   6500
4    Narayani       332.0  Drainage Area (kmÂ²) - Total  34960

In [ ]:
climate_df.to_csv("climate_daily_cleaned.csv", index=False)